.ui-dialog.ui-dialog-position-side {
  .ui-dialog-content {
    margin: 0 calc(-1 * var(--off-canvas-padding)) calc(-1 * var(--off-canvas-padding));
    background: none !important;
    color: #fff;
  }
}
