/* Layout builder form and layout builder element itself */
.layout-builder-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.layout-builder {
  padding: 0;
  border: none;
}

.layout-builder .layout-builder__layout {
  text-align: initial;
  margin-right: 5px;
  margin-left: 5px;
}

.layout-builder .layout-builder__layout .layout__region {
  border: dashed 2px #2f91da;
  border-left-width: 0;
}

.layout-builder .layout-builder__layout .layout__region .layout-builder-block {
  flex-grow: 0;
  border: dashed 1px #aaa;
  position: relative;
}

.layout-builder .layout-builder__layout .layout__region .layout-builder-block.focus {
  outline: none;
}

.layout-builder .layout-builder__layout.theme-secondary .layout__region .layout-builder-block {
  border-color: #333;
}

/* Do not hide the quickedit contextual icon when in layout building mode. */
.layout-builder .layout-builder__layout .layout__region .contextual .trigger.visually-hidden {
  /* stylelint-disable */
  position: relative !important;
  /* stylelint-enable */
}

.layout-builder .layout-builder__layout .layout__region .layout-builder-block .contextual {
  z-index: 100;
}

.layout-builder .layout-builder__layout .layout__region.layout__region--first {
  border-left-width: 2px;
}

.layout-builder .layout-builder__layout .layout-builder__region {
  outline: none;
  display: flex;
  flex-direction: column;
}

.layout-builder__layout.is-layout-builder-highlighted {
  /* stylelint-disable */
  margin: 0 5px !important;
  /* stylelint-enable */
}

.layout-builder .layout-builder__layout.is-layout-builder-highlighted {
  border: none;
}

.layout-builder .layout-builder__layout.is-layout-builder-highlighted .layout-builder__region {
  outline: none;
}

.layout-builder .layout-builder__add-block,
.layout-builder .layout-builder-block {
  background-color: transparent;
}

.layout-builder .layout-builder__add-block {
  font-family: "Open Sans", sans-serif;
  font-size: .8em;
  line-height: 1.8em;
  font-weight: bold;
  width: 100%;
  margin-top: auto;
  flex-grow: 1;
  display: block;
}

.layout-builder .layout-builder__add-block .layout-builder__link {
  color: #787878;
  background-color: #ddd;
  background-position-x: .5em;
  border-radius: 3px;
  border: solid 1px #bbb;
  padding: .3em .6em .3em 2em;
  z-index: 1;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  transition: background .2s, color .2s, border .2s;
}

.layout-builder .layout-builder__add-block .layout-builder__link:hover {
  color: #000;
  border-color: #000;
  transition: background .2s, color .2s, border .2s;
}

.layout-builder .layout-builder__add-block.is-layout-builder-highlighted {
  border: none;
  margin: 0;
}

.layout-builder .layout-builder__add-block.is-layout-builder-highlighted .layout-builder__link--add {
  font-weight: bold;
  text-decoration: underline;
  color: #000;
}

/* Layout builder links to remove or configure - inside section wrapper */
.layout-builder .layout-builder__link--remove {
  position: static;
  z-index: initial;
  text-indent: initial;
  background: none;
  border: none;
}

/* Links in layout builder for add section, add block */
.layout-builder .layout-builder__link--add {
  text-decoration: none;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

/* Layout builder sections */
.layout-builder .layout-builder__section {
  text-align: left;
  background-color: transparent;
  border: none;
  margin: 0;
}

.layout-builder .layout-builder__section .layout-builder__section--header {
  display: flex;
  justify-content: right;
  text-align: left;
  background: #2f91da;
  border: solid 2px #2f91da;
  color: #fff;
  width: 100%;
  padding: 0;
  flex-direction: row;
}

.layout-builder .is-layout-builder-highlighted .layout-builder__section--header {
  -moz-box-shadow: inset 0 0 4px 2px #e1d915;
  -webkit-box-shadow: inset 0 0 4px 2px #e1d915;
  box-shadow: inset 0 0 4px 2px #e1d915;
}

.layout-builder .layout-builder__section .layout-builder__section--header .layout-builder__section-label {
  display: block;
  flex-grow: 1;
  padding: 5px 15px;
  font-family: "Open Sans", sans-serif;
  font-size: .8em;
  line-height: 1.8em;
  font-weight: bold;
}

.layout-builder .layout-builder__section .layout-builder__section--header .layout-builder__link {
  display: block;
  flex-grow: 0;
  font-size: 0;
  overflow: hidden;
  margin: 5px 5px 5px 0;
  padding: 0;
  width: 26px;
  height: 26px;
  background-color: #555;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 5px 5px;
}

.layout-builder .layout-builder__section .layout-builder__section--header .layout-builder__link:hover {
  filter: brightness(1.3);
}

.layout-builder .layout-builder__section .layout-builder__section--header .layout-builder__link--remove {
  background-image: url('../../misc/icons/ffffff/ex.svg');
  background-color: #970f00;
}

.layout-builder .layout-builder__section .layout-builder__section--header .layout-builder__link--configure {
  background-image: url('../../misc/icons/ffffff/wrench.svg');
}

.layout-builder .layout-builder__section > a {
  opacity: .6;
  text-decoration: none;
  color: #474747;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

.layout-builder .layout-builder__section > a:hover,
.layout-builder .layout-builder__section > a:focus {
  opacity: 1;
  background: none;
}

.layout-builder .layout-builder__add-section {
  width: 100%;
  outline: none;
  background: transparent;
  padding: 0;
  position: relative;
  margin-top: .5em;
  margin-bottom: .5em;
}

.layout-builder .layout-builder__add-section::before {
  content: "";
  border-bottom: 1px solid #ddd;
  height: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 0;
}

.layout-builder .layout-builder__add-section .layout-builder__link {
  color: #787878;
  background-color: #ddd;
  background-position-x: .5em;
  border-radius: 3px;
  border: solid 1px #bbb;
  padding: .3em .6em .3em 2em;
  z-index: 1;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: .8em;
  font-weight: bold;
  transition: background .2s, color .2s, border .2s;
}

.layout-builder .layout-builder__add-section .layout-builder__link:hover {
  color: #000;
  border-color: #000;
  transition: background .2s, color .2s, border .2s;
}

.layout-builder .layout-builder__add-section .layout-builder__link--add:hover {
  background-image: url('../../misc/icons/000000/plus.svg');
}

/* Form actions - Submit buttons */
.layout-builder-form .form-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  position: fixed;
  z-index: 502;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #2d2d2d;
  background-color: #2d2d2d;
  color: #ddd;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: left;
  padding: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: .9em;
  line-height: .9em;
}

.layout-builder-form .form-actions .checkbox:checked + label::before,
.layout-builder-form .form-actions .checkbox:not(:checked) + label::before {
  background-color: #e5e3de;
}

.ui-dialog-off-canvas #drupal-off-canvas {
  padding-bottom: 55px;
}

.layout-builder-form .form-actions .button {
  padding: 10px 15px;
  border: 0 none;
  border-radius: 0;
  height: auto;
  margin: 0 0 10px 0;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(rgba(255, 255, 255, .125) 20%, transparent 200%);
  display: block;
  width: 100%;
  box-sizing: border-box;
  line-height: 1.15;
  flex-grow: 0;
  color: #ccc;
  font-family: "Open Sans", sans-serif;
  font-size: .9em;
  text-decoration: none;
  font-weight: 500;
}

.layout-builder-form .form-actions .form-item {
  margin-left: 0;
  margin-bottom: 0;
}

.layout-builder-form .form-actions .button:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(rgba(255, 255, 255, .225) 30%, transparent 300%);
}

.layout-builder-form .form-actions .button .icon,
.layout-builder-form .form-actions .button:hover .icon {
  display: none;
}

.layout-builder-form .form-actions .button--primary {
  background: #008000;
  color: #fff;
  font-weight: bold;
}

.layout-builder-form .form-actions .button--primary:hover {
  color: #fff;
  background: #009500;
}

.layout-builder-form .form-actions #edit-preview-toggle {
  padding: 10px 15px;
  font-size: 1em;

  .form-item {
    display: flex;

    .label {
      margin-left: 5px;
      font-family: "Open Sans", sans-serif;
      font-size: .9em;
      margin-bottom: 0;
    }
  }
}

@media (min-width: 992px) {
  .layout-builder-form .form-actions {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .layout-builder-form .form-actions .button,
  .layout-builder-form .form-actions .button + .button {
    width: auto;
    margin-bottom: 0;
    margin-left: 10px;
  }
}

/* Vertical tabs - Revisions ... */
.layout-builder-form .vertical-tabs {
  display: none;
}

/* Status messages - Above and inside layout builder */
.layout-builder-form .status-messages {
  margin: 0 auto 20px;
}

/* -- AUTOSAVE NOTIFICATIOn -- */
#autosave-notification {
  bottom: 50px;
}

.js-off-canvas-dialog-open #autosave-notification {
  right: 310px;
}
