.layout-builder {
  &__region {
    padding-left: 0;
    padding-right: 0;
  }

  &-block {
    background: none;
  }

  &__add-block {
    background: none;

    &.is-layout-builder-highlighted {
      margin: 0;
    }
  }

  &__link--remove,
  &__link--configure {
    position: relative;
    display: inline-block;
    width: 32px !important;
    height: 32px !important;
    margin-right: 6px;
    border: 1px solid #d4d4d8;
    border-radius: 50%;
    box-sizing: border-box;
    text-indent: -9999px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15);

    &:hover {
      box-shadow: 0 0 0 1px rgba(0, 0, 0, .2), 0 0 0 4px rgba(0, 125, 250, .6);
    }
  }

  &__link--remove,
  &__link--remove:hover {
    background-image: url(../../misc/icons/0550e6/ex.svg);
  }

  &__link--configure,
  &__link--configure:hover {
    background-image: url(../../misc/icons/0550e6/wrench.svg);
  }
}
